body {
  margin: 2% 6%;
  max-width: 1050;
}

header {
  display: flex;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #63666A;
}

button {
  width: 200px;
  height: 30px;
  color: #fff;
  background-color: #43B02A;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.logo {
  width: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventory {
  border: 1px solid #63666A;
  border-radius: 5px;
  color: #63666A;
  padding: 10px;
  margin: 20px 0;
  width: 1050px;
  min-height: 500px;
}
