body {
  margin: 2% 6%;
  max-width: 1050;
}

header {
  display: flex;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #63666A;
  letter-spacing: 1px;
  margin-left: 10px;
}

ul {
  list-style: none;
  border: 1px solid #63666A;
  border-radius: 10px;
  padding: 10px 20px;
  width: 450px;
}

li {
  padding: 2px;
}

.logo {
  width: 50px;
}

.inventory {
  border-top: 1px solid #63666A;
  color: #63666A;
  padding: 10px;
  margin: 20px 0;
  width: 1050px;
  min-height: 500px;
}
